


*{
    position: static;
    padding: 0px;
margin: 0px;}

body{margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
   background-image: url(/images/about\ us.jpg );
padding: 0;
background-color: rgb(255, 174, 74);

}
.c{
    margin-top: 10px ;
    z-index: 3;
height: 100%;
    font-family:serif;
    padding:10px;
    border-style: none;
    border-radius: 8px;
    background-color:  #92562d;
width: 80px;
border-spacing: 20px;
text-align: center;


}
ul{background-color: none;}
li.c{
    background-color: none;
}
.c:hover{opacity: 0.5; timeline-scope: 1s;
}
header{
    z-index: 3;
    position: fixed;
    height: 11%;
    width: 100%;
background: linear-gradient(180deg, #32223f, hsla(0, 0%, 100%, 0.8));
}
#nav ul{
    
z-index: 3;
    list-style: none;
position: fixed;
top: 0;
left: 70%;
display: flex;
gap: 1.5em;


}

h1{margin: 10px;
color: rgb(163, 1, 33);
font-size: 250%;

}






#map{
    position: absolute;
    bottom: 0;
    height: 50%;
    margin-bottom: 7%;
    left: 60%;
    width: 25%;
    border-radius: 15px;
border-color: blue;
}


        
.saw {margin-left: 3%;
    position: absolute;
      margin-top: 9%;
            background: #907cff70;
            border-radius: 4px;
        }

 
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 12px;
            border: 2px solid #6948fc;
            border-radius: 10px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            
        }

        
   

        
        input[type="submit"] {
            background: #4c24ff;
            margin: auto;
            outline: 0;
            color: white;
            border: 0;
            padding: 12px 24px;
            border-radius: 10px;
            margin-left: 28%;
            transition: all ease-in-out 0.3s;
            position: relative;
            
            align-self: center;
        }

        
        input[type="submit"]:hover {
            background: #4703867e;
        }

        
        .cent {
            text-align: center;
        }
h2{color: rgb(10, 0, 145);}
        #head{color: #150072;}
        .ig{
            width: 5%;
            height: 5%;
            border-radius: 10px;
            margin-top: 60%;
            margin-bottom: 1%;
            margin-left: 50%;
        }
        .fb{
            width: 6%;
            height: 6%;
            border-radius: 10px;
            margin-top: 1%;
            
            margin-left: 50%;}
            .fb:hover{
                width: 8%;
                height: 8%;
                border-radius: 10px;
                margin-top: 1%;
                
                margin-left: 50%;}
                .ig:hover{
                    width: 7%;
                    height: 7%;
                    border-radius: 10px;
                    margin-top: 60%;
                    margin-bottom: 1%;
                    margin-left: 50%;
                }