*{
    position: static;
    padding: 0px;
margin: 0px;}
body{margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
   background-image: url(/images/dessert.jpg);
padding: 0;

}
.c{
    margin-top: 10px ;
    z-index: 3;
height: 100%;
    font-family:serif;
    padding:10px;
    border-style: none;
    border-radius: 8px;
    background-color:  #92562d;
width: 80px;
border-spacing: 20px;
text-align: center;


}
ul{background-color: none;}
li.c{
    background-color: none;
}
.c:hover{opacity: 0.5; timeline-scope: 1s;
}
header{
    z-index: 3;
    position: fixed;
    height: 11%;
    width: 100%;
background: linear-gradient(180deg, #32223f, hsla(0, 0%, 100%, 0.8));
}
#nav ul{
    
z-index: 3;
    list-style: none;
position: fixed;
top: 0;
left: 70%;
display: flex;
gap: 1.5em;


}
h6{margin: 10px;
    color: rgb(163, 1, 33);
    font-size: 250%;
    
    }
h1{    border-radius: 25px;
    margin-top: 5px;
    background: linear-gradient(90deg,#32223f,hsla(0, 78%, 69%, 0.2));
    color: rgb(175, 32, 32);
    padding: 1%;
margin-left: 20px;
font-size:40px;

}
footer{background-color: none;
    position: absolute;
    margin-top: 60px;
    margin-bottom: 10%;

}
.h2{padding: 10px;
    border-radius: 25px;
    margin-top: 5px;
    background: linear-gradient(90deg,#32223fd0,hsla(56, 100%, 43%, 0.1));
    color: rgb(211, 175, 14);
    
margin-left: 20px;
}
table{
    margin:10px;
    padding: 0px;
    border-style:ridge;
border-radius: 5px;
border-width: 2px;
background-color: rgba(189, 149, 248, 0.534);
width: 60%;

}

h3{padding: 0%;
    align-items: center;
    color: rgb(0, 63, 0);
}
.flexit{
    margin-top: 15px;
    display: flex;
}
.imgsize{ 
    border-width: 5px;
    border-radius: 60px;
    max-width: 10%;
    max-height: 7%;
}
button{
    background-color: #32223f;
    border-radius: 10px;
    margin-top: 3%;
    color: #f9f1ff;
    height: 10%;
    width: 10%;
padding: 5px;
font-size:150% ;
}
button:hover{
    border-radius: 10px;
    background-color: #32223f8f;
    font-size: 200%;
    margin-top: 3%;
    color: #f9f1ff;
    height: 12%;

    width: 12%;
    
}
h4{color: red; padding-left: 20%;}
#img{
margin-top: 65%;
max-height: 100%;
max-width: 100%;

}
#ha{padding-left:25%;
    padding-top: 10%;
    font-size: 250%;
    color: #ff0015;
    z-index: 4;
}